<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CSS - Flexbox Practice</title>
        <link rel="stylesheet" href="../assets/css/practice-flexbox.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="">accueil</a>
                <a href="">nos produits</a>
                <a href="">soldes</a>
                <a href="">contact</a>
                <a href="">info</a>
            </nav>
        </header>
    </body>
</html>
