body {
    color: #333;

    /* Police de caractère */
    font-family: Arial, Helvetica, sans-serif;

    /* Taile de la police */
    font-size: 20px;

    /* Epaisseur de la police */
    font-weight: normal;
    /* normal | bold */

    /* Style de la police */
    font-style: normal;
    /* normal | italic */

    /* Alignement du texte */
    text-align: center;
    /* left | center | right */
}

.title {
    font-size: 40px;
}

p {
    /* Majuscule, minuscule */
    text-transform: uppercase;
    /* lowercase, uppercase, capitalize */

    color: red;
    color: rgb(141, 189, 30);
    color: #333;
}

.css {
    font-weight: bold;
    font-style: italic;
}

ul {
    list-style: none;
    text-align: left;
}

.baleine {
    font-size: 60px;
}

a {
    /* Style sur le texte (souligné, barré */
    text-decoration: none;
    /* underline, none, line-through */

    color: red;
}

/* PSEUDO CLASS */
/* La pseudo class :hover signifie au survole */
a:hover {
    color: blue;
    font-size: 22px;
}

/* La pseudo class :visited signifie que le lien a été cliqué une fois */
a:visited {
    color: green;
}
