body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: blue;
    font-weight: normal;
}

h1:hover {
    color: pink;
}
h2 {
    color: green;
    text-decoration: underline;
    text-align: center;
}

p {
    color: orange;
}

.olympiades {
    color: grey;
}

.country {
    color: pink;
}

.txt-cl-purple {
    color: purple;
}

.txt-center {
    text-align: right;
}

.txt-cl-blue {
    color: blue;
    font-weight: normal;
}

.txt-italic {
    font-style: italic;
}

.txt-uppercase {
    text-transform: uppercase;
}

.title-olympique {
    text-decoration: none;
}

.list-sports {
    text-align: center;
    list-style: none;
}
